{
    "presets": [
        "env",
        "stage-1"
    ],
    "plugins": [
        "transform-vue-jsx"  ,"syntax-dynamic-import" ,
        [
            "component",
            {
              "libraryName": "element-ui",
              "styleLibraryName": "theme-chalk"
            }
        ]
    ]
}