html, body
    margin 0
    padding 0 
    width 100%
    height 100%

body
    background-size cover
    background-position center
    font 14px 'microsoft yahei'
    color '#4d4d4d'
    font-weight 300
* 
    box-sizing border-box


.inputItem{
    width 33%
    display inline-block
    label{
        display inline-block
        width 40%
        text-align right
        margin-right 15px
    }
    input,select{
        display inline-block
        width 55%
        height 30px
        cursor text 
        text-transform  none
        text-indent 0px
        text-shadow none
        border-radius 3px
        border 1px solid rgb(231, 234, 236);
        padding-left 10px
    }
}

.buttonGroup{
    display flex 
    justify-content center
    cursor pointer
    margin-top 15px
}
.button-search{
    background-color rgb(90, 140, 255)
    color white
    padding 6px 12px
    border-radius 3px
    margin-left 5px
    margin-right 5px
    cursor pointer
}

.button-reset{
    padding 6px 12px
    border 1px solid #ccc
    margin-left 5px
    margin-right 5px
    border-radius 3px
}

.condition{
    background  white
    padding 20px
}
.tableList{
    background  white
    padding 15px
    margin-top 10px
}
.tableContainer{
    border 1px solid #eee
    min-height 500px
}
.tablestyle{
    width 100%
    text-align left
    border-collapse collapse
    border-spacing 0
    th{
        border-bottom 1px solid #eee
        border-right 1px solid #eee
        padding 8px
        height 40px
    }
    td{
        border-bottom 1px solid #eee
        border-right 1px solid #eee
        padding 8px
        word-wrap: break-word;
        word-break: normal;
    }
}
.nodata {
    height 40px
    display flex 
    align-items center
    justify-content center 
    background rgb(249, 249, 249)
}